.*
!/.gitignore
!/.travis.yml
bin/*
project/target/
project/project/
project/scala*/
target/*
output/*
krakenOutput/*
krakenOutput100by100/*
krakenOutputArch/*
adoptInput/*
dimacsInput/*

*.config




*.sh
