.*
!/.gitignore
bin/*
project/target/
project/project/
project/scala*/
target/*
output/*
krakenOutput/*
krakenOutput100by100/*
adoptInput/*

*.config





src/main/scala/com/signalcollect/dcop/evaluation/ConnectionTest.scala

src/main/scala/com/signalcollect/dcop/evaluation/MySQLAccess.scala
